# ide
.vscode

# variables, secrets
secrets/
*.env
*.env.local
*.tfvars

# temp
tmp

# Python virtual environment
venv

# Infisical
.infisical.json

# terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
backend.tf
*_local_override.tf

# container volumes
volumes/