### Variables required to use Infisical CLI
# App Configuration
export TF_VAR_APP_SHORTNAME=""           # alphanum with dashes, name of app
export TF_VAR_ORG_SHORTNAME=""           # alphanum with dashes, username or organization name
export TF_VAR_ENV_SLUG="prod"
# Infisical Universal Auth
export INFISICAL_HOST="https://app.infisical.com"
export TF_VAR_INFISICAL_PROJECT_SLUG=""
export INFISICAL_UNIVERSAL_AUTH_CLIENT_ID=""
export INFISICAL_UNIVERSAL_AUTH_CLIENT_SECRET=""